@keyframes sign_in {
    0% {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    }
    99%{
        left:-100%;
        display: block;
    }
    100% {
        left:-100%;
        display: none;
    }
}
/*
----------------------------------------GLOBALS-SCREEN--------------------------------------------
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #2d2d2d;
}
h1 {
    font-family: 'Roboto Slab', serif;
}

.feature_disabled {
    display: none !important;
}
.app_hidden {
    display: none !important;
}

/*
----------------------------------------TEXT-BOXES--------------------------------------------
*/
.app_textBox {
    all: unset;
    display: block;
    background-color: #fff;
    text-align: left;
    position: relative;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;

}
.text_box_fill{
    width: calc(100% - 10px);
}
.tc_textBox{
    width: 390px;
    height: 30px;
    font-size: 20pt;
}


.em_textBox{
    all: unset;
    padding: 10px;
    margin: 5px;
    border-bottom: #e6592e 3px solid;
}
/*
----------------------------------------BUTTONS------------------------------------------------
*/


.app_button_solid {
    display: block;
    width: 150px;
    height: 25px;

    transition: 150ms;
}
.app_button_solid:hover {
    background-color: #108de6;
    color: #ededed;
    box-shadow: 1px 1px 15px -5px #333333;
}

.app_button_center {
    margin-left: auto;
    margin-right: auto;
}
.app_button_frame {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 16pt;
    padding-left: 10px;
    width: 290px;
    border-right: #e6592e 4px solid;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 150ms;
}

.app_button_frame:hover {
    background-color: #108de6;
    border-right: #108de6 4px solid;
    color: #ededed;
    box-shadow: 1px 1px 15px -5px #333333;

}

.app_button_frame.button_active {
    border-right: #108de6 4px solid;
    box-shadow: 1px 1px 15px -5px #333333;
    color: #108de6;
}
.app_button_frame.button_active:hover {
    background-color: #ededed;
    border-right: #108de6 4px solid;
    box-shadow: 1px 1px 15px -5px #333333;
    color: #108de6;
}

.tc_button {
    position: absolute;
    font-size: 18pt;
    padding: 5px 15px 15px 15px;
}

.app_button_frame.em_button {
    /* position: absolute; */
    width: 190px;
    border-right: #e6592e 3px solid;
    font-size: 13pt;
}

.app_button_solid.em_button {
    padding: 10px;
    position: relative;
    margin: 10px;
    display: inline-block;

}

/*
----------------------------------------SIGNIN-SCREEN--------------------------------------------
*/
#sign_in_screen {
    background-color: #e6592e;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;


}

#sign_in_box {
    display: block;
    background-color: #ededed;
    position: absolute;
    text-align: center;
    width: 250px;
    height: 300px;
    left:calc(50% - 125px);
    top: calc(25% - 150px);



}

#sign_in_post_message {
    position: absolute;
    display: block;
    text-align: left;
    margin-left: 6px;
    top: 25%;
}

#sign_in_screen.signed_in {
    animation: ease-in-out;
    animation-delay: 250ms;
    animation-duration: 1s;
    animation-name: sign_in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;

}
/*
----------------------------------------MAIN-WINDOW--------------------------------------------
*/
#main_body {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #ededed;
}

#side_bar {
    display: block;
    position: absolute;
    width: 300px;
    background-color: #ededed;
    border: #e6592e 4px solid;
    border-top: none;
    height: calc(100% - 104px);
    z-index: 2;
}
#nav_bar {
    /* box-shadow: 1px 1px 15px -5px #333333; */
    width: calc(100% - 8px);
    height: 92px;
    border: #e6592e 4px solid;
    background-color: #ededed;
    z-index: 2;
}

#nav_userInfo{
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

#userInfo_firstName{
    display: block;
    position: relative;
    font-family: 'Roboto Slab Black', sans-serif;
    font-size: 28pt;
    text-transform: uppercase;
}
#userInfo_position {
    text-align: center;
    margin-top: -5px;
    color: #e6592e;
}
#nav_companyName {
    display: block;
    float: left;
    height: 100%;
    margin-left: 15px;
    margin-top: 5px;
    font-family: 'Roboto Slab Black', sans-serif;
    font-size: 40pt;
    text-transform: uppercase;
}

.app_body {
    display: block;
    position: absolute;
    height: calc(100% - 100px);
    width: calc(100% - 308px);
    left: 308px;
}
/*
----------------------------------------TIME-CLOCK-WINDOW--------------------------------------------
*/
#timeClock_content {
    display: block;
    position: absolute;
    width: 750px;
    height: 350px;
    left: calc(35% - 250px);
    top: calc(35% - 250px)
}
#tc_currentTime {
    font-family: 'Roboto Slab', serif;
    font-size: 75pt;
}
#tc_punchLog{
    display: block;
    position: absolute;
    overflow: scroll;
    height: calc(100% - 6px);
    width: 300px;
    background-color: #fff;
    border: #e6592e 3px solid;
    right: 0;
    top: 0;
}
#tc_punchLog::-webkit-scrollbar {
    display: none;
}

#tc_statusBox {
    width: 400px;
    font-size: 11pt;
    text-align: center
}
#tc_buttonContainer{
    display: block;
    position: absolute;
    width: 400px;
    height: 100px;
    bottom: 0;
}
#tc_shiftStart_button{
    top: 0;
    left: 0;
}
#tc_shiftEnd_button {
    top: 0;
    right: 0;
}
#tc_lunchStart_button{
    bottom: 0;
    left: 0;
}
#tc_lunchEnd_button{
    bottom: 0;
    right: 0;
}

#tc_getPunchLog_button{
    top: -50px;
    left: calc(45% - 100px);
    width: 200px;
}

.tc_punchLog_element{
    padding: 5px;
    font-size: 15pt;
}


/*
----------------------------------------EMPLOYEE-MANAGEMENT-WINDOW--------------------------------------------
*/

#em_sideBar {
    position: absolute;
    width: 200px;
    height: calc(100% - 3px);
    border-right: #e6592e 3px solid;
    border-bottom: #e6592e 3px solid;
}

#employeeManagement_content {
    position: absolute;
    width: 100%;
    height: 100%;
}

#em_editor {
    position: absolute;
    display: block;
    left: 203px;
    padding: 10px;
    height: calc(100% - 20px);    
}


#em_buttonContainer{
    position: absolute;
    top: calc(100% - 80px);
}